@import "../dependencies/font-awesome-4.7.0/css/font-awesome.min.css"; /*used on medias: noneyet */
@import "../dependencies/foundation-icons/foundation-icons.css"; /*used on medias: noneyet */

@import url('https://fonts.googleapis.com/css?family=Cookie|Dosis');

/* VARIABLES */
$default-focus-outline: red;

/* Base */
$font-stack: 'Dosis', sans-serif;
$curive-font: 'Cookie', cursive;
$content-max-width: 900px;
$background-colour-bars: rgba(31,18,9,1);
$background-colour-cover: rgba(0,51,102,0.8);
$main-background-color: rgba(245,245,220,0.5);

/* Nav */
$main-nav-text-colour: white;
$background-main-nav: rgba(31,18,9,1);
$main-nav-hover-background: rgba(0,0,0,0.5);
$main-nav-background-colour-dropdown: rgba(53,30,14,1);
$main-nav-sub-text-colour: white;
$main-nav-text-transform: uppercase;

/* Header */
$header-h1-color: rgba(255,255,255,1);
$header-h2-color: rgba(255,255,255,1);
$header-h3-color: rgba(255,255,255,1);
$header-h4-color: rgba(255,255,255,1);

$header-h1-font-size: 6vw;
$header-h2-font-size: 3.5vw;
$header-h3-font-size: 10vw;
$header-h4-font-size: 2vw;

$header-h1-padding: 3vh;
$header-h2-padding: 2vh;
$header-h3-padding: 8vh 0 4vh;
$header-h4-padding: 2vh 0 6vh;




/* Breakpoints */

$smallbreak: 576px;
$mediumbreak: 768px;
$largebreak: 1200px;
$xlargebreak: 1920px;

/* SCSS EXTEND CLASSES */

.fill {
  width: 100%;
  height: 100%;
}

.no-space {
  padding:0;
  margin:0;
}

/* TAG & GENERAL SELECTORS */

html {
  @extend .fill;
}

body {
  @extend .fill;
  font-family: $font-stack;
  background-color: $main-background-color;
}

img {
  @extend .no-space;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

fieldset {
  @extend .no-space;
}

*:focus {
  outline-color: $default-focus-outline !important;
}

* {
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

h1,h2,h3,h4 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}


/* Clearfix */

.cf:after {
    content:"";
    display:table;
    clear:both;
}


/* CLASS SELECTORS */

.content {
  max-width: $content-max-width;
  padding: 2vh 3.5vw;
  margin: auto;
}



/************************
UNIQUE ELEMENTS
*************************/

/* GRID */

#projects-wrapper {
  margin: auto;
}

.grid {
  margin: 4vh auto;
  padding: 0;
  list-style: none;
  width: 80vw;
  li {

    float: left;
    display:flex;
    justify-content: center;
    align-items: center;
    width: (((80vw/3)-4vw));
    height: (((80vw/3)-4vw));
    margin: 1vw;
    background-color: green;
    color: #bdc3c7;
    &:nth-child(3n+1) {
    clear: left;
    }
  }
}






/* MAIN NAV BAR */

.main-navigation {
  width: 100%;
  background-color: $background-main-nav;
  z-index: 1;
}

.nav-main-list {
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin: auto;
  display:table;
}

.main-nav-item {
  float: left;
  a,
  .dropbtn {
    display: inline-block;
    color: $main-nav-text-colour;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: $main-nav-text-transform;
  }
}

.main-nav-item a:hover,
.main-nav-item a:focus,
.dropdown:hover .dropbtn,
.dropdown:focus .dropbtn {
  background-color: $main-nav-hover-background;
}

li.dropdown {
    display: inline-block;
}


.dropdown-content {
  list-style: none;
  @extend .no-space;
  background-color: $main-nav-background-colour-dropdown;
  overflow: hidden;
}

.dropdown-content a {
    color: $main-nav-sub-text-colour;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-transform: $main-nav-text-transform;
}

.dropdown-collapser {
  position: absolute;
  overflow: hidden;
  height: 0;
  transition: all .4s ease-in-out;
}

.dropdown:hover .dropdown-collapser {
    height: 500px;
}

/* MAIN HEADER */

.header-wrapper {
  position: relative;
}

.main-header {
  background-color: $background-colour-cover;
  z-index: -1;
}

.main-header:before {
  content: " ";
  display: block;
  float: left;
  position: absolute;
  background-image: url('../img/computer-1245714.jpg');
  background-size:cover;
  filter: grayscale(100%) blur(2px) brightness(0.7);
  width:100%;
  height:100%;
  z-index: -2;
}

.main-header {
  margin-top: 46px;

  h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }
  h3.hello {
    font-family: $curive-font;
    text-transform: none;
    font-size: $header-h3-font-size;
    color: $header-h3-color;
    padding: $header-h3-padding 0;
  }
  h1 {
    color: $header-h1-color;
    font-size: $header-h1-font-size;
    padding: $header-h1-padding 0;
    font-weight: bolder;
  }
  h2 {
    color: $header-h2-color;
    font-size: $header-h2-font-size;
    padding: $header-h2-padding 0;
  }
  h4 {
    color: $header-h4-color;
    font-size: $header-h4-font-size;
    padding: $header-h4-padding 0;
  }
}


/* LANGAGE FLAG FOLLOW */
#lanugage-flag {
  @extend .no-space;
  width: (115px / 3);
  height: (115px / 4);
  position: fixed;
  bottom: 18px;
  right: 18px;
  span {
    @extend .fill, .no-space;
    display: block;
    border-radius: 8px;
    border: rgba(255,255,255,0.8) solid 2px;

    &:hover,
    &:focus {

      transform: scale(1.6);
      transition: all .5s ease-in-out;
      animation-duration: 2.1s;
      animation-fill-mode: forwards;
    }
  }
}

.language-en {
  background: rgba(0,0,0,0) url("../dependencies/flag-icon-css-master/flags/4x3/gb.svg") center /contain no-repeat;
  &:hover,
  &:focus {
    animation-name: toSwedish;
  }
}

.language-sv {
  background: rgba(0,0,0,0) url("../dependencies/flag-icon-css-master/flags/4x3/se.svg") center /contain no-repeat;
  &:hover,
  &:focus {
    animation-name: toEnglish;
  }
}

@keyframes toSwedish {
    from {background-image: url('../dependencies/flag-icon-css-master/flags/4x3/gb.svg');}
    to {background-image: url('../dependencies/flag-icon-css-master/flags/4x3/se.svg');}
}
@keyframes toEnglish {
    from {background-image: url('../dependencies/flag-icon-css-master/flags/4x3/se.svg');}
    to {background-image: url('../dependencies/flag-icon-css-master/flags/4x3/gb.svg');}
}

#footer-wrapper {
  background-color: $background-colour-bars;
}
