@import "../dependencies/font-awesome-4.7.0/css/font-awesome.min.css"; /*used on medias: noneyet */
@import "../dependencies/foundation-icons/foundation-icons.css"; /*used on medias: noneyet */

@import url('https://fonts.googleapis.com/css?family=Cookie|Dosis');

/* VARIABLES */
$default-focus-outline: red;

/* Base */
$font-stack: 'Dosis', sans-serif;
$curive-font: 'Cookie', cursive;
$content-max-width: 800px;
$background-colour-bars: rgba(48,0,0,1);
$background-colour-cover: rgba(133,0,0,1);

/* Nav */
$main-nav-text-colour: white;
$background-main-nav: rgba(48,0,0,1);
$main-nav-hover-background: rgba(0,0,0,0.5);
$main-nav-background-colour-dropdown: rgba(59,0,0,1);
$main-nav-sub-text-colour: white;
$main-nav-text-transform: uppercase;

/* Header */
$header-h1-color: #fff;
$header-h2-color: #fff;
$header-h3-color: #fff;
$header-h4-color: #fff;

$header-h1-font-size-sm: 2.7em;
$header-h1-font-size-md: 2.8em;
$header-h1-font-size-lg: 3em;
$header-h1-font-size-xlg: 3.5em;

$header-h1-padding-sm: 60px;
$header-h1-padding-md: 80px;
$header-h1-padding-lg: 100px;
$header-h1-padding-xlg: 130px;

$header-h2-font-size-sm: 1.6em;
$header-h2-font-size-md: 1.9em;
$header-h2-font-size-lg: 2em;
$header-h2-font-size-xlg: 2.8em;

$header-h2-padding-sm: 10px;
$header-h2-padding-md: 20px;
$header-h2-padding-lg: 25px;
$header-h2-padding-xlg: 30px;

$header-h3-font-size-sm: 4em;
$header-h3-font-size-md: 4.5em;
$header-h3-font-size-lg: 5em;
$header-h3-font-size-xlg: 6em;

$header-h3-padding-sm: 50px 0 10px;
$header-h3-padding-md: 80px 0 10px;;
$header-h3-padding-lg: 100px 0 10px;;
$header-h3-padding-xlg: 130px 0 10px;;

$header-h4-font-size-sm: 1em;
$header-h4-font-size-md: 1.2em;
$header-h4-font-size-lg: 1.5em;
$header-h4-font-size-xlg: 1.8em;

$header-h4-padding-sm: 2px 0 30px;
$header-h4-padding-md: 5px 0 40px;
$header-h4-padding-lg: 10px 0 50px;
$header-h4-padding-xlg: 20px 0 60px;

/* Breakpoints */

$smallbreak: 576px;
$mediumbreak: 768px;
$largebreak: 1200px;
$xlargebreak: 1920px;

/* SCSS EXTEND CLASSES */

.fill {
  width: 100%;
  height: 100%;
}

.no-space {
  padding:0;
  margin:0;
}

/* TAG & GENERAL SELECTORS */

html {
  @extend .fill;
}

body {
  @extend .fill;
  font-family: $font-stack;
}

img {
  @extend .no-space;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

fieldset {
  @extend .no-space;
}

*:focus {
  outline-color: $default-focus-outline !important;
}

* {
  &:after,
  &:before {
    box-sizing: border-box;
  }
}

h1,h2,h3,h4 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}


/* Clearfix */

.cf:after {
    content:"";
    display:table;
    clear:both;
}


/* CLASS SELECTORS */

.content {
  max-width: $content-max-width;
}



/************************
UNIQUE ELEMENTS
*************************/
/* GRID */

.col {
  padding-right: 20px;
  &:last-of-type {
    padding-right: 0;
  }
}


/* MAIN NAV BAR */

.main-navigation {
  width: 100%;
  background-color: $background-main-nav;
}

.nav-main-list {
  list-style: none;
  padding: 0;
  overflow: hidden;
  margin: auto;
  display:table;
}

.main-nav-item {
  float: left;
  a,
  .dropbtn {
    display: inline-block;
    color: $main-nav-text-colour;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: $main-nav-text-transform;
  }
}

.main-nav-item a:hover,
.main-nav-item a:focus,
.dropdown:hover .dropbtn,
.dropdown:focus .dropbtn {
  background-color: $main-nav-hover-background;
}

li.dropdown {
    display: inline-block;
}


.dropdown-content {
  list-style: none;
  @extend .no-space;
  background-color: $main-nav-background-colour-dropdown;
  overflow: hidden;
}

.dropdown-content a {
    color: $main-nav-sub-text-colour;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-transform: $main-nav-text-transform;
}

.dropdown-collapser {
  position: absolute;
  overflow: hidden;
  height: 0;
  transition: all .4s ease-in-out;
}

.dropdown:hover .dropdown-collapser {
    height: 500px;
}

/* MAIN HEADER */
.main-header {
  background-color: $background-colour-cover;
}

.main-header {
  h1, h2, h3, h4 {
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }
  h3.hello {
    font-family: $curive-font;
    text-transform: none;
    font-size: $header-h3-font-size-sm;
    color: $header-h3-color;
    padding: $header-h3-padding-sm 0;
  }
  h1 {
    color: $header-h1-color;
    font-size: $header-h1-font-size-sm;
    padding: $header-h1-padding-sm 0;
  }
  h2 {
    color: $header-h2-color;
    font-size: $header-h2-font-size-sm;
    padding: $header-h2-padding-sm 0;
  }
  h4 {
    color: $header-h4-color;
    font-size: $header-h4-font-size-sm;
    padding: $header-h4-padding-sm 0;
  }
}
@media screen and (min-width: $smallbreak) {
  .main-header {
    h3.hello { font-size: $header-h3-font-size-sm; padding: $header-h3-padding-sm 0; }
    h1 { font-size: $header-h1-font-size-sm; padding: $header-h1-padding-sm 0; }
    h2 { font-size: $header-h2-font-size-sm; padding: $header-h2-padding-sm 0; }
    h4 { font-size: $header-h4-font-size-sm; padding: $header-h4-padding-sm 0; }
  }
}

@media screen and (min-width: $mediumbreak) {
  .main-header {
    h3.hello { font-size: $header-h3-font-size-md; padding: $header-h3-padding-md 0; }
    h1 { font-size: $header-h1-font-size-md; padding: $header-h1-padding-md 0; }
    h2 { font-size: $header-h2-font-size-md; padding: $header-h2-padding-md 0; }
    h4 { font-size: $header-h4-font-size-md; padding: $header-h4-padding-md 0; }
  }
}

@media screen and (min-width: $largebreak) {
  .main-header {
    h3.hello { font-size: $header-h3-font-size-lg; padding: $header-h3-padding-lg 0; }
    h1 { font-size: $header-h1-font-size-lg; padding: $header-h1-padding-lg 0; }
    h2 { font-size: $header-h2-font-size-lg; padding: $header-h2-padding-lg 0; }
    h4 { font-size: $header-h4-font-size-lg; padding: $header-h4-padding-lg 0; }
  }
}

@media screen and (min-width: $xlargebreak+1) {
  .main-header {
    h3.hello { font-size: $header-h3-font-size-xlg; }
    h1 { font-size: $header-h1-font-size-xlg; }
    h2 { font-size: $header-h2-font-size-xlg; }
    h4 { font-size: $header-h4-font-size-xlg; }
  }
}

/* LANGAGE FLAG FOLLOW */
#lanugage-flag {
  @extend .no-space;
  width: (85px / 3);
  height: (85px / 4);
  position: fixed;
  bottom: 13px;
  right: 13px;
  span {
    @extend .fill, .no-space;
    display: block;
    border-radius: 5px;

    &:hover,
    &:focus {

      transform: scale(1.6);
      transition: all .5s ease-in-out;
      animation-duration: 2.1s;
      animation-fill-mode: forwards;
    }
  }
}

.language-en {
  background: rgba(0,0,0,0) url("../dependencies/flag-icon-css-master/flags/4x3/gb.svg") center /contain no-repeat;
  &:hover,
  &:focus {
    animation-name: toSwedish;
  }
}

.language-sv {
  background: rgba(0,0,0,0) url("../dependencies/flag-icon-css-master/flags/4x3/se.svg") center /contain no-repeat;
  &:hover,
  &:focus {
    animation-name: toEnglish;
  }
}

@keyframes toSwedish {
    from {background-image: url('../dependencies/flag-icon-css-master/flags/4x3/gb.svg');}
    to {background-image: url('../dependencies/flag-icon-css-master/flags/4x3/se.svg');}
}
@keyframes toEnglish {
    from {background-image: url('../dependencies/flag-icon-css-master/flags/4x3/se.svg');}
    to {background-image: url('../dependencies/flag-icon-css-master/flags/4x3/gb.svg');}
}

#footer-wrapper {
  background-color: $background-colour-bars;
}
